<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Address Book" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "My Contacts" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="clearfix">
  <header class="hidden-print">
  	<h1 class="container"><%= link_to 'Address Book', contacts_path %></h1>
    </header>
    <main role="main" class="container">
       <%= yield %>
    </main>
	<footer><small>Ruby on Rails & Twitter Bootstrap Application &copy; 2014 Alicia Smith</small></footer>
  </body>
</html>